APP_PORT=8080
INVENTORY_SOURCE=https://docs.google.com/spreadsheets/d/1zzlB_CjRyYvdNfOdZjh_5ifHF_bLw6QVgHRYK4Ro2iY/edit?usp=sharing
PRINT_MODE=raw9100
POSTEK_PRINTER_HOST=192.168.1.21
POSTEK_PRINTER_PORT=9100
POSTEK_LABEL_HEIGHT_DOTS=320
POSTEK_LABEL_GAP_DOTS=25
SAVE_PRINT_BATCH_FILES=0
